
h1 {
    text-align:center;
}

h2 {
    text-align: center;
}

ul{
    text-align: center;
    color: gainsboro;
    border-color: dimgrey;
    
    
}

li {
    display: inline-block;
}

nav {
}

div {
    width: 700px;
    height: inherit;
}