body {
    background-color: lightseagreen;
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
}

h1 {
    color: green;
    border: 5px solid gray;
    background-color: lightgrey;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

a {
    color: red;
}
li {
    font-family: sans-serif;
    margin-left: 10px;
}
img {
    display: block;
    margin: 1em;
    
}
aside {
    float:right;
    background-color: lightgrey;
    border: 5px solid gray;
    padding: 5px;
    margin-right: 10px;
}
nav {
    float:left;
    background-color: lightgrey;
    border: 5px solid gray;
    padding-right: 25px;
    text-align: left;
}
h2 {
    text-align: left
}
p {
    padding-right: 5px
}
#mainmenu {
    display:block;
    float: right;
    text-align: center;
    padding-right: 15px;
    padding-top: 15px;
    text-align: center;
    margin-right: 10px;
}
div {
    width: 500px;
    padding-right: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
#accordion {
    
}
#carousel1 {
    margin-left: 500px;
  
}
#alert alert-info {
    margin-left:100px;
}