body {
    background-color: lightseagreen;
    font-family: sans-serif
}

h1 {
    color: green;
    border: 5px solid gray;
    background-color: lightgrey;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

a {
    color: red;
}
li {
    font-family: sans-serif;
    margin-left: 10px;
}
img {
    display: block;
    margin: 1em;
    
}
aside {
    float:right;
    background-color: lightgrey;
    border: 5px solid gray;
    padding: 5px;
}
nav {
    float:left;
    background-color: lightgrey;
    border: 5px solid gray;
    padding-right: 25px;
    text-align: left;
}
h2 {
    text-align: left
}
p {
    padding-right: 5px
}
#mainmenu {
    display:block;
    float: right;
}
